#map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
    height:500px;
    width: 900px;
    display: flex;
    margin: auto;    
}


h1,p{
    text-align: center;
}

#info {
    padding: 5px;
    width: 100%;
    height: 20px;
    font-family: monospace;
}